{% extends 'base.html' %}

{% block table %}
{% block content %}
  <table class="table table-striped">
  <thead>
    <form action="" method="get">
        {{ filter.form.as_p }}
        <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Search</button>
    </form>
    <form action="" method="get">
        <input type="hidden" name="format" value="csv">
        <button class="btn btn-default" type="submit"><span class="glyphicon" aria-hidden="true"></span> Export</button>
    </form>
  </thead>
  <tbody>
    {% for row in object_list %}
      <tr>
        <td>{{ row.ip }}</td>
        <td>{{ row.tms|date }}</td>
        <td>{{ row.get_request_method_display }}</td>
        <td>{{ row.request_uri }}</td>
        <td>{{ row.request_code }}</td>
        <td>{{ row.request_size }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}

{% include "logs_pagination.html" %}

{% include "logs_total.html" %}

{% endblock table %}